@charset "UTF-8";

/*Обнуление стилей*/

@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

@import "../../node_modules/swiper/swiper-bundle.min.css";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------- конец обнуления стилей -----------*/

@font-face {
  font-family: Rounded_Elegance;
  font-display: swap;
  src: url("../fonts/Rounded_Elegance.woff2") format("woff2"), url("../fonts/Rounded_Elegance.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: YesevaOne;
  font-display: swap;
  src: url("../fonts/YesevaOne-Regular.woff2") format("woff2"), url("../fonts/YesevaOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Rounded_Elegance;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
}

.header {
  background-color: #384249;
  overflow: hidden;
  padding-top: 20px;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__burger {
  display: none;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__links li {
  margin: 0 22px;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.menu__links li:last-child {
  margin-right: 0;
}

.menu__links li a {
  color: #fff;
}

.menu__links li a > i {
  margin-right: 6px;
}

.main__wrapper {
  background-color: #384249;
  width: 100%;
  padding-top: 45px;
  max-height: 587px;
  height: 100%;
}

.main__img {
  position: relative;
}

.main__img img {
  width: 100%;
  background-size: cover;
}

.img__block {
  position: relative;
}

.img__title {
  position: absolute;
  z-index: 180;
  max-width: 450px;
  width: 100%;
  margin: 70px;
}

.img__title h1 {
  line-height: 74px;
  font-family: YesevaOne-Regular;
  color: #fff;
  font-size: 64px;
  margin-bottom: 8px;
}

.img__title div {
  width: 156px;
  height: 1px;
  background-color: #fff9f3;
  margin-bottom: 20px;
}

.img__title p {
  font-size: 18px;
  color: #fff;
  line-height: 21px;
  letter-spacing: 1px;
}

.img__title p i {
  position: relative;
  bottom: 2px;
  font-size: 14px;
}

.booking__item {
  max-width: 975px;
  width: 100%;
  padding: 50px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -72px;
  left: 50%;
  position: relative;
  z-index: 150;
  background-color: #fff;
  -webkit-box-shadow: 0px 11px 25px 3px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 11px 25px 3px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  margin-top: 40px;
}

.booking__item p {
  margin-bottom: 10px;
  line-height: 16px;
  color: #7f7981;
  font-size: 15px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -25px;
}

.form__row fieldset {
  width: calc(16.6666666667% - 50px);
  margin: 0 25px;
}

.form__row input,
.form__row select {
  border-bottom: 1px solid #384249;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  background-color: #ffa64d;
  color: #fff;
  border-radius: 1px;
  letter-spacing: 0.5px;
  line-height: 1;
}

.main__btn {
  padding: 16px;
  font-size: 16px;
}

.suggestions {
  padding: 220px 0 120px 0;
}

.suggestions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(127, 121, 129, 0.0588235294);
  padding: 25px 35px;
}

.suggestions__elements {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 175px;
          flex: 1 1 175px;
  margin: 15px;
}

.suggestions__img {
  text-align: center;
  margin-bottom: 30px;
}

.suggestions__text {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.4px;
}

.about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
}

.about__img img {
  max-width: 370px;
  width: 100%;
}

.about__title {
  padding: 0 20px;
  max-width: 370px;
  width: 100%;
}

.title__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.title__item h2 {
  font-family: YesevaOne-Regular;
  font-weight: 700;
  color: #ffa64d;
  font-size: 40px;
  max-width: 170px;
  width: 100%;
}

.title__border {
  background-color: #ffa64d;
  height: 2px;
  max-width: 215px;
  width: 100%;
}

.title__text {
  max-width: 335px;
  width: 100%;
}

.title__text p {
  color: #000;
  font-size: 20px;
  line-height: 1.4;
}

.title__text p i {
  position: relative;
  bottom: 2px;
  font-size: 18px;
}

.title__text p:first-child {
  margin-bottom: 30px;
}

.main__numbers {
  background-color: #384249;
  padding: 75px 0 40px 0;
}

.numbers__title {
  margin-bottom: 45px;
}

.numbers__title h2 {
  font-size: 48px;
  font-family: YesevaOne-Regular;
  font-weight: 700;
  letter-spacing: 2px;
}

.number__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numbers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  margin: 0 0 35px 0;
}

.numbers__item button {
  width: 100%;
}

.number__img {
  margin-bottom: 25px;
}

.number__img img {
  max-width: 350px;
  width: 100%;
}

.number__text {
  max-width: 325px;
  margin-bottom: 25px;
}

.number__text h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.number__text p {
  line-height: 20px;
  font-size: 15px;
}

.text__price {
  margin-top: 18px;
  font-size: 24px;
}

.main__fitness {
  padding: 100px 0 50px 0;
  background-color: #fff;
}

.fitness__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
}

.fitness__title {
  margin: 0 20px 50px 0;
  max-width: 435px;
  width: 100%;
}

.fitness__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  position: relative;
}

.fitness__item h2 {
  font-family: YesevaOne-Regular;
  font-weight: 700;
  color: #ffa64d;
  font-size: 40px;
  line-height: 45px;
  max-width: 300px;
  width: 100%;
}

.fitness__border {
  position: relative;
  top: 20px;
  display: inline-block;
  background-color: #ffa64d;
  height: 2px;
  max-width: 130px;
  width: 100%;
}

.fitness__text {
  max-width: 420px;
  width: 100%;
}

.fitness__text p {
  color: #000;
  font-size: 20px;
  line-height: 1.4;
}

.fitness__text p i {
  position: relative;
  bottom: 2px;
  font-size: 18px;
}

.fitness__text p:first-child {
  margin-bottom: 30px;
}

.fitness__img img {
  max-width: 370px;
  width: 100%;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 50px 0;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__spa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  width: 100%;
  -webkit-box-shadow: 0px 12px 43px -6px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 12px 43px -6px rgba(0, 0, 0, 0.18);
  margin: 20px 20px 40px 20px;
}

.spa__item {
  padding: 40px 40px 0 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.services__title {
  text-align: center;
  margin-bottom: 40px;
}

.services__title h3 {
  font-family: YesevaOne-Regular;
  font-size: 33px;
  font-weight: 700;
  color: #384249;
}

.services__text {
  text-align: center;
}

.services__text p {
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
}

.services__text span {
  display: inline-block;
  color: #7f7981;
  font-size: 16px;
  margin-bottom: 25px;
}

.services__btn {
  display: inline-block;
  width: 100%;
  padding: 16px;
  font-size: 21px;
}

.main__gallery {
  background: rgba(127, 121, 129, 0.059);
  padding: 80px 0 55px 0;
}

.gallery__numbers {
  margin-bottom: 30px;
}

.gallery__title {
  color: #7f7981;
  margin-bottom: 30px;
}

.gallery__title h3 {
  font-family: YesevaOne-Regular;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
}

.gallery__title p {
  font-size: 22px;
}

.gallery__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__img .img__item {
  margin-right: 0;
}

.img__item {
  margin: 0 0 35px 0;
  max-width: 400px;
  width: 100%;
}

.img__item img {
  max-width: 400px;
  width: 100%;
}

.main__slider {
  padding: 150px 0;
  color: #384249;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__title {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 950px;
  width: 100%;
}

.title__item-slider h3 {
  font-size: 40px;
  font-weight: 700;
  font-family: YesevaOne-Regular;
}

.title__btn {
  padding: 15px 26px;
  font-size: 18px;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 340px;
}

.swiper-slide p {
  font-size: 21px;
  line-height: 27px;
  margin: 0 50px 30px 50px;
}

.swiper-slide span {
  color: #7f7981;
  font-size: 19px;
  margin: 0 50px 0 50px;
}

.slider__block {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #7f7981;
  font-size: 42px;
  font-weight: 700;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #7f7981;
}

.footer {
  background-color: #384249;
  padding: 60px 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item > div {
  margin: 0 20px 20px 0;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo img {
  max-width: 240px;
  width: 100%;
}

.social__links a {
  font-size: 27px;
  margin-right: 20px;
}

.social__links a:last-child {
  margin-right: 0;
}

.footer__links li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer__item,
.social__links,
.footer__links,
a,
.footer__address,
.address__street,
.address__contact > * {
  color: #b0babd;
  line-height: 21px;
}

.footer__address,
.address__street,
.address__contact > * {
  font-size: 16px;
}

.address__street {
  margin-bottom: 24px;
}

.address__street p {
  margin-bottom: 7px;
}

.address__street p i {
  font-size: 13px;
}

.address__street p:last-child {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .booking__item {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .suggestions {
    padding: 280px 0 120px 0;
  }

  .gallery__img {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .gallery__img .img__item {
    margin-right: 20px;
  }

  .gallery__img .img__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .footer__item > div {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .number__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .img__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .header__item {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .menu__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 50px;
    position: absolute;
    z-index: 190;
    top: 80px;
    right: 100%;
    background: #384249;
    width: 100%;
    -webkit-box-shadow: 0 4px 2px -2px rgba(56, 66, 73, 0.2549019608);
            box-shadow: 0 4px 2px -2px rgba(56, 66, 73, 0.2549019608);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .menu__links.open-menu {
    right: 0;
  }

  .menu__links li {
    font-size: 13px;
    margin: 12px 0;
  }

  .burger__border {
    width: 48px;
    height: 34px;
    border: 1px solid #b0babd;
    margin-right: 10px;
    padding: 0;
  }

  .header__burger {
    position: relative;
    width: 35px;
    height: 35px;
    display: block;
    padding: 6px;
  }

  .header__burger span,
  .header__burger:after,
  .header__burger:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #fff;
    margin: 0 auto;
  }

  .header__burger span {
    top: 14px;
  }

  .header__burger::after,
  .header__burger::before {
    content: "";
  }

  .header__burger::after {
    bottom: 9px;
  }

  .header__burger::before {
    top: 5px;
  }

  .header__burger.open-menu span {
    opacity: 0;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .header__burger.open-menu:before {
    -webkit-transform: rotate(38deg);
        -ms-transform: rotate(38deg);
            transform: rotate(38deg);
    top: 14px;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .header__burger.open-menu:after {
    -webkit-transform: rotate(-38deg);
        -ms-transform: rotate(-38deg);
            transform: rotate(-38deg);
    bottom: 18px;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .form__row fieldset {
    margin: 12px 30px;
  }
}

@media (max-width: 768px) {
  .img__title {
    margin: 20px;
  }

  .img__title h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .img__title div {
    margin-bottom: 10px;
  }

  .img__title p {
    font-size: 15px;
    line-height: 17px;
  }

  .main__wrapper {
    max-height: 340px;
  }

  .booking__item {
    padding: 20px;
    max-width: 485px;
  }

  .number__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__img {
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0;
  }

  .about__title {
    padding: 0px 18px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 38px 40px 0;
  }

  .numbers__title {
    text-align: center;
  }

  .fitness__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .fitness__title {
    max-width: 378px;
    margin-right: 0;
  }
}