@font-face{
	font-family: Rounded_Elegance;
	font-display: swap;
	src: url("../fonts/Rounded_Elegance.woff2") format("woff2"), url("../fonts/Rounded_Elegance.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: YesevaOne;
	font-display: swap;
	src: url("../fonts/YesevaOne-Regular.woff2") format("woff2"), url("../fonts/YesevaOne-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
